{% load staticfiles %}

{% extends base.html %}

#cambiar action del formulario

<html>
  <body>
    {% block leftsidebar %}
      <form class="w3-container" action="/login" method ="POST">
        {% csrf_token %}
        <h3>Filtra por Distrito</h3>
        <p><input class="w3-input" type="text" name="distrito" placeholder="Distrito"></p>
        <p><button class="w3-button w3-black">Enviar</button></p>
      </form>
    {% endblock leftsidebar %}

    {% block central %}
      {% if globalAcc == True %}
        <h1 class="w3-text-teal">Aparcamientos disponibles</h1>
        <lu>
        {% for aparc in aparclist %}
          <li><h3 class="w3-text-teal">{{ aparc.nombre }}</h3></li>
          <li><h3 class="w3-text-teal" href="/aparcamientos/{{ str(aparc.id) }}">Pagina del aparcamiento</a></h3></li>
        {% endfor %}
      {% else %}
        <h1 class="w3-text-teal">Todos los aparcamientos</h1>
        <lu>
        {% for aparc in aparclist %}
          <li><h3 class="w3-text-teal">{{ aparc.nombre }}</h3></li>
          <li><h3 class="w3-text-teal" href="/aparcamientos/{{ str(aparc.id) }}">Pagina del aparcamiento</a></h3></li>
        {% endfor %}
      {% endif %}
      </ul>
    {% endblock central %}

  </body>
</html>
