{% extends "base.html" %}

{% block leftsidebar %}
  <div class="w3-quarter w3-bar w3-bar-block w3-collapse w3-large w3-animate-left" style="z-index:2;width:195px;margin-top:10px;">
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    {% for pageuser in pageuserlist %}
      <a class="w3-bar-item w3-button w3-hover-black" href="/{{ pageuser.usuario.username }}">{{ pageuser.titulo }}</a>
    {% endfor %}
  </div>
{% endblock leftsidebar %}

{% block central %}
  <div class="" style="margin-left:240px">
    <div class="w3-twothird">
      {% if globAcc == True %}
        <h1 class="w3-text-red">Aparcamientos disponibles más comentados</h1>
        {% for aparcAccOrden in aparclistAccOrden %}
          <h3 class="w3-text-teal">{{ aparcAccOrden.nombre }}</h3>
          <h4 class="" style="margin-left:20px">Direccion: {{ aparcAccOrden.clasevial }} {{ aparcAccOrden.nombrevia }}, {{ aparcAccOrden.numvia }}</h4>
          <h4><a class="" style="margin-left:20px" href="/aparcamientos/{{ aparcAccOrden.id }}">Más información</a></h4>
        {% endfor %}
      {% else %}
        <h1 class="w3-text-red">Aparcamientos más comentados</h1>
        {% for aparcOrden in aparclistOrden %}
          <h3 class="w3-text-teal">{{ aparcOrden.nombre }}</h3>
          <h4 class="" style="margin-left:20px">Direccion: {{ aparcOrden.clasevial }} {{ aparcOrden.nombrevia }}, {{ aparcOrden.numvia }}</h4>
          <h4><a class="" style="margin-left:20px" href="/aparcamientos/{{ aparcOrden.id }}">Más información</a></h4>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock central %}

{% block rightsidebar %}
{% endblock rightsidebar %}
