{% extends "base.html" %}

{% block central %}
<div class="" style="margin-left:90px;margin-top:40px">
  <div class="w3-twothird" style= "margin-right:-5px">
    <p><h2>Ha ocurrido un error al cargar la página web.</h2></p>
    <p><h3>Comprueba si existen usuarios registrados y sus páginas de usuario.
    Si existen usuarios registrados pero no hay páginas de dichos usuarios visita
    el siguiente enlace. <a class="" style="" href="/">Pinche aquí.</a></h3></p>
  </div>
</div>
{% endblock central %}
